<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="titulo">
    <h1>Nodepop</h1>
</div>
<hr class="linea"/>
<br>
<br>
<br>

<div>
    <h2>Lista de Anuncios</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Venta</th>
                <th>Precio</th>
                <th>Foto</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody id="tblContenido">
            <% anuncios.forEach(anuncio => { %>
                <tr>
                    <td><%= anuncio._id %></td>
                    <td><%= anuncio.nombre %></td>
                    <td><%= anuncio.venta %></td>
                    <td><%= anuncio.precio %></td>
                    <td class="imagen"><img src="/images/<%= anuncio.foto %>" alt="<%= anuncio.nombre %>"></td>
                    <td><%= anuncio.tags.join(', ') %></td>
                </tr>
            <% }) %>
            
        </tbody>
    </table>
</div>

</body>
</html>





