<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Lista de artículos</h2>
    <br>
    <% anuncios.forEach(anuncio => { %>
      <br>
      <p><%= anuncio.nombre %>
        precio <%= anuncio.precio %>
        <img src="/images/<%= anuncio.foto %>" alt="<%= anuncio.nombre %>">
        
      </p>
    <% }) %>

  </body>
</html>
